html{
    background-color:#151420;
}
.imagemm{
    width: 90%;
    height: 110px;
}
.Imagem img{
    width: 12%;
    height: 85px;
}
input{
    background-color: rgb(75, 78, 90);
    color: rgb(249, 249, 249);
    font-family: Avenir-Heavy;
    font-size: 24px;
    width: 40%;
    height: 45px;
    border-radius: 5px 0px 0px 5px;
    border: transparent;
    margin-left: 20px;
}
input[type="button" ]{
    color: white;
    font-size: 24px;
    background-color:royalblue;
    width: 10%;
    height: 46px;
    border: transparent;
    border-radius: 0px 5px 5px 0px;
    padding:0%;
    margin-left: -4px;
}
button{
    color: white;
    background-color: rgb(34, 33, 33);
    border: 1px white solid;
    border-radius: 5px;
    font-size: 15px;
    padding: 15px 25px;
    margin-right: 30px;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    left: 54%;
}
button:hover{
    background-color: white;
    color: black;
}
img {
    width: 300px;
    height: 300px;
    margin: 15px;
}
.Geral{
    display:flex;
    flex-flow:column;
    flex-flow: row nowrap;
    margin: 20px;
}
.Personagem{
    color: white;
    display: flex;
    margin: 10px;
}
.erro{
    width: 100%;
    display: none;
    color: rgb(255, 85, 76);
    margin-top: 10px;
    margin-left: 20px;
    font-size: 24px;
    font-family: Avenir-Heavy;
}